header {
  color: $text-color;
  font-size: 2.7rem;
  letter-spacing: 10px;
  padding-top: 6rem;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

form {
  display: flex;
  flex-direction: column;
  & input {
    @include infoDisplay('.5rem', $output-color);
    border:  none;
    &:focus {
      outline: none;
    }
  }
}

.outputContainer {
  @include infoDisplay('1rem');
}

.outputValue {
  color: $output-color;
  &.cash::before {
    content: '£';
  }
}