header {
  color: $text-color;
  letter-spacing: 10px;
  padding-top: 6rem;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

form {
  display: flex;
  flex-direction: column;
  & input {
    @include infoDisplay('.5rem', 2.5rem, $output-color);
    border:  none;
    &:focus,
    &:hover {
      background-color: $highlight-color;
      outline: none;
    }
  }
}

.outputContainer {
  @include infoDisplay('1rem', 3.5rem);
}

.outputValue {
  color: $output-color;
  &.cash::before {
    content: '£';
  }
}