@mixin infoDisplay($margin, $height, $text: $text-color) {
  width: 100%;
  height: #{$height};
  background-color: $input-color;
  color: #{$text};
  font-size: 1rem;
  margin-bottom: #{$margin};
  padding: .5rem;
  border-radius: 5px;
}